:root {
  --main-font: 'Roboto', sans-serif;
  --main-green: #27AE60;
  --main-blue: #7AA7C7;
  --main-gray: #9FAAB5;
  --main-light-gray: #E1ECF4;
  --main-red: #FF0000;
}

body {
  font-family: var(--main-font);
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.container img {
  width: 400px;
  margin: 59px 0 70px;
}

.container button {
  width: 200px;
  height: 60px;
  margin-right: 53px;
  margin-top: 89px;
  border-radius: 8px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: white;
  background-color: var(--main-green);
}

.alfabeto {
  width: 700px;
  display: flex;
  margin-left: 250px;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.alfabeto button {
  width: 40px;
  height: 40px;
  margin-right: 12px;
  margin-bottom: 11px;
  border: 1px solid var(--main-blue);
  border-radius: 3px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(--main-gray);
  background-color: var(--main-light-gray);
}

.alfabeto button.desabilitado {
  background-color: var(--main-gray);
  cursor: default;
}

.alfabeto button.habilitado {
  cursor: pointer;
}

.container-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 100px;
}

.editar-underline {
  font-family: 'Noto Sans';
  font-weight: 700;
  font-size: 40px;
  color: black;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  text-align: center;
}

.acertou {
  color: var(--main-green);
}

.errou {
  color: var(--main-red);
}

.desabilitado { 
  background: #9FAAB5 !important;
}

.habilitado {
  background: #E1ECF4 !important;
}